
.main-container {
  display: flex; /* Convierte el contenedor en un contenedor flex, lo que permite alinear sus hijos con reglas de flexbox */
  flex-direction: column; /* Coloca los elementos hijos en columna (de arriba hacia abajo) */
  height: 100vh; /* Hace que el contenedor ocupe el 100% de la altura del viewport */
  box-sizing: border-box; /* Incluye padding y border en el cálculo del ancho/alto total */
  color: rgb(34, 19, 19); /* Color de texto oscuro/marrón para los elementos dentro */
}

.column-container {
  display: flex; /* También es un contenedor flex. */
  justify-content: center; /* Centra horizontalmente el contenido (por ejemplo, el <Board />). */
  align-items: flex-start; /* Alinea los elementos al inicio vertical del contenedor */
  padding: 1rem; /* Añade un margen interno alrededor del contenido */
  gap: 1rem; /* Espacio entre los elementos hijos (si hay más de uno) */
  flex: 1; /* Hace que este contenedor crezca para llenar el espacio disponible dentro del .main-container */
  color: #000000; /* Establece el color del texto a gris oscuro */
}

/* Reinicio de CSS para elementos raíz */
html, body, #app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

/* Tema claro por defecto */
body {
  background-color: #f0f0f0;
  color: #222;
  transition: background-color 0.3s, color 0.3s;
}

/* Tema oscuro */
.dark body {
  background-color: #1e1e1e;
  color: #eee;
}

/* Título para el TEMA CLARO */
.app-title {
  font-size: 3rem;
  font-weight: 800; /* Extra bold */
  background: linear-gradient(90deg, #18A0FB 0%, #B729D9 100%); 
  background-position: center; 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center; 
}

/* Título para el TEMA OSCURO */
.dark .app-title {
  font-size: 3rem;
  font-weight: 800;
  background: linear-gradient(90deg, #4DD0E1 0%, #A5D6A7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@keyframes pulse-gradient {
  0% {
    background-size: 200% 100%;
    background-position: center;
  }
  50% {
    background-size: 400% 100%;
    background-position: left;
  }
  100% {
    background-size: 200% 100%;
    background-position: center;
  }
}
