/* Apariencia de la Columna */
.column-box {
  background: #c0bebe;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);

  /* Dimensiones y Flexibilidad */
  width: 280px;
  min-height: 200px;
  max-width: 300px;
  flex: 1;
}

.dark .column-box {
  background-color: #2A2D2F;
  color: #eee;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

/* Contenedor Principal del Tablero */
.board {
  display: flex;
  gap: 16px;
  padding: 16px;
  justify-content: center;
}

@media (max-width: 768px) {
  .board {
    flex-direction: column;
    align-items: center;
  }
}

/* Color de los titulos en las columnas */
.column-box.todo {
  border-color: #42a5f5;
}
.column-box.todo h2 {
  color: #42a5f5;
  font-style: italic;
  font-size: 2rem;
  font-weight: 700;
}

.column-box.doing {
  border-color: rgb(255, 0, 0);
}
.column-box.doing h2 {
  color: rgb(255, 0, 0);
  font-style: italic;
  font-size: 2rem;
  font-weight: 700;
}

.column-box.done {
  border-color: #66bb6a;
}
.column-box.done h2 {
  color: #66bb6a;
  font-style: italic;
  font-size: 2rem;
  font-weight: 700;
}

.column-separator {
  height: 4px;
  width: 100%;
  margin: 8px 0 16px;
  border-radius: 2px;
}

/* Separador de la columnas entre el titulo y las notas */
.column-separator.todo {
  background-color: #42a5f5;
}

.column-separator.doing {
  background-color: rgb(255, 0, 0);;
}

.column-separator.done {
  background-color: #66bb6a;
}

/* Botón para Añadir Nota */
.add-note-button {
  /* Espaciado y Dimensiones */
  margin-top: 1rem;
  padding: 8px 12px;
  width: 100%;

  /* Apariencia */
  background-color: #ffffff;
  border: 2px dashed #ccc;
  border-radius: 6px;
  font-size: 1rem;

  /* Interacción */
  cursor: pointer;
  transition: background 0.2s;
}

.dark .add-note-button {
  background-color: #181A1B;
  border: 2px dashed #3E4446;
  color: #eee;
}

.add-note-button:hover {
  background-color: #f0f0f0;
}

.dark .add-note-button:hover {
  background-color: #202325;
}

.add-note-form {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

/* Estilos de Campo de Entrada */
.add-note-form input {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.dark .add-note-form input {
  background-color: #202325;
  color: #eee;
}

.add-note-form button {
  padding: 8px;
  border-radius: 6px;
  background-color: #42a5f5;
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
}

.add-note-form button:hover {
  background-color: #1e88e5;
}

