/* Tarjeta de Nota */
.note-card {
  background: white;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: grab;
}

.dark .note-card {
  background: #181A1B;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: grab;
}

/* Estados de Interacción */
.note-card:active {
  cursor: grabbing;
}

/* Botón de Menú de Opciones */
.menu-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  user-select: none;
  padding: 0;
}

/* Menú Desplegable */
.menu-dropdown {
  position: absolute;
  top: 36px;
  right: 12px;
  background: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  width: 100px;
  z-index: 10;
}

.menu-dropdown button {
  border: none;
  background: none;
  padding: 8px 12px;
  text-align: left;
  cursor: pointer;
  font-size: 0.9rem;
}

.menu-dropdown button:hover {
  background-color: #eee;
}

/* Estilos del Campo de Edición */
.note-input {
  width: 100%;
  padding: 6px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dark .note-input {
  background-color: #181A1B;
  color: #eee;
  width: 100%;
  padding: 6px;
  font-size: 1rem;
  border: 1px solid #3E4446;
  border-radius: 4px;
}

/* Estilos de Iconografía Tres Puntos */
.svg-puntos-menu {
  color: #333; 
}

.dark .svg-puntos-menu {
  color: #eee 
}